:root {
  /* Color Palette */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f4f4f4;

  /* Typography */
  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-large: 1.2rem;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--background-color);
}

i {
  font-size: 1.5rem;
  margin: 6px;
}

/* =================================== Header =================================== */

header {
  width: 100%;
  min-height: 10dvh;
  box-shadow: 0px 2px 4px #8a8a8a;
}

#theme-mode  {
  font-size: var(--font-normal);
  cursor: pointer;
}


/* =================================== Section =================================== */

#finding-country-section {
  margin: 20px 0;
}

#search-by-country {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 0;
  min-width: 25%;
  box-shadow: -2px 2px 4px rgb(0, 0, 0, 0.25);
}

#search-by-country input {
  border: none;
  width: 100%; 
  font-size: var(--font-normal);
  background: transparent; 
  outline: none;
}

#filters {
  position: relative;
  min-width: 160px;
}

#filter-header {
  padding:0 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: -2px 2px 4px rgb(0, 0, 0, 0.25);
}

#filter-drop-down {
  list-style: none; 
  padding: 10px 12px; 
  background-color: #fff; 
  margin-top: 6px; 
  border-radius: 4px; 
  position: absolute; 
  width: 100%;
  box-shadow: -2px 2px 4px rgb(0, 0, 0, 0.25);
}

#filter-drop-down li {
  padding: 4px;
}

#filter-drop-down li:hover {
  background-color: #dadada;
  cursor: pointer;
}


/* =================================== Main (Country-listing) =================================== */

#country-listing {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap:5vh;
  margin-bottom: 4vh;
}

.country-card {
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
}

.country-card:hover {
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
  transform: scale(.95);
  transition: .5s
}

.country-card img {
  width: 100%;
  height: 200px;
}

.country-info {
  padding: 2.5vh 1vw;
}

.country-title {
  margin-bottom:2.5vh;
  font-size: 24px;
}

.country-info ul {
  list-style: none;
  font-size: 18px;
}

.country-info ul li {
  margin-bottom: 1.5vh;
}

/* =================================== Media Queries =================================== */

@media (max-width: 600px) {
  #theme-mode span {
    display: none;
  }

  #finding-country-section {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items:normal;
  }

  .country-info {
    padding: 2.5vh 5vw;
  }
  
}