:root {
  /* Color Palette */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f4f4f4;

  /* Typography */
  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-large: 1.2rem;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--background-color);
}

i {
  font-size: 1.5rem;
  margin: 6px;
}

/* =================================== Header =================================== */

header {
  width: 100%;
  min-height: 10dvh;
  box-shadow: 0px 2px 4px #8a8a8a;
}

#theme-mode  {
  font-size: var(--font-normal);
  cursor: pointer;
}


/* =================================== Section =================================== */

#finding-country-section {
  margin: 12px 0;
}

#search-by-country {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 0;
}

#search-by-country input {
  border: none;
  width: 100%; 
  font-size: var(--font-normal);
  background: transparent; 
  outline: none;
}

/* #filters {
  position: relative;
  min-width: 160px;
}

#filter-header {
  padding:0 12px;
  background-color: #fff;
  cursor: pointer;
}

#filter-drop-down {
  list-style: none; 
  padding: 10px 12px; 
  background-color: #fff; 
  margin-top: 6px; 
  border-radius: 4px; 
  position: absolute; 
  width: 100%;
}

#filter-drop-down li {
  padding: 4px;
}

#filter-drop-down li:hover {
  background-color: #dadada;
  cursor: pointer;
} */


/* =================================== Media Queries =================================== */

@media (max-width: 600px) {
  #theme-mode span {
    display: none;
  }
}

/* #filters {
  position: relative;
  display: inline-block;
  width: 200px;
} */

/* .filter-header {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
} */

/* .filter-options {
  list-style: none;
  padding: 8px 0;
  margin: 4px 0 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: none;
} */

/* .filter-options li {
  padding: 8px 12px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .filter-options li:hover {
  background-color: #f5f5f5;
} */

/* #filters:hover .filter-options {
  display: block;
} */
