.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

.container {
  padding: 0 4%;
}

/* ========================= Responsive Design ========================= */


